<mat-grid-list cols="6" rowHeight="100%">;
    <mat-grid-tile colspan="1" style="background-color: #007ee6;">
        <app-toolbar></app-toolbar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card class="my-card" style="height: 300px;margin: 20px;">
            <mat-card-title style="margin: 2%;">Olá, Henry. Seja bem-vindo</mat-card-title>
            <mat-card-content style="text-align: center;width: 60%;margin-left: 15%;margin-top: 10%;">
                <p>É necessário configurar a empresa matriz para visualizar todas as informações do sistema</p>
            </mat-card-content>
            <mat-card-footer>
                <div class="example-button-row">
                    <button mat-flat-button style="width: 90%;margin-left: 5%;margin-top: 10%;"
                        [routerLink]="['/welcome-company']">INICIAR CONFIGURAÇÂO</button>
                </div>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <img src="../../assets/images/Blog-2710-1.jpg" width="40%" height="60%" alt="Meu RH 360" style="border-radius: 1%;">
    </mat-grid-tile>
</mat-grid-list>